@import "tailwindcss";

@theme {
    --color-primary: #8ACE00;

    --spacing-navBarMobile: 5rem;

    /* --font-sans: var(--font-montserrat-sans); */
    /* --font-mono: var(--font-ibm-mono); */

    --color-bg: #282c34;
    --color-primary: #98c379;
    --color-secondary: #c678dd;
    --color-text: #ABB2BF;

    /* ANIMATIONS */

    --typewriter: typing 7s steps(110, end), blink-caret .5s step-end infinite alternate;

    @keyframes typing {
        from {
            width: 0;
        }

        to {
            width: 100%;
        }
    }

    @keyframes blink-caret {
        50% {
            border-color: transparent;
        }
    }
}

/* Dracula Theme */
.dracula {
    --color-bg: #282a36;
    --color-primary: #8be9fd;
    --color-secondary: #f1fa8c;
    --color-text: #F8F8F2;
}

/* Nord Theme */
.nord {
    --color-bg: #2e3440;
    --color-primary: #8fbcbb;
    --color-secondary: #81a1c1;
    --color-text: #D8DEE9;
}

@layer utilities {
    .bg-theme {
        background-color: var(--color-bg);
    }

    .text-bg {
        color: var(--color-bg);
    }

    .text-theme {
        color: var(--color-text);
    }

    .text-primary {
        color: var(--color-primary);
    }

    .text-secondary {
        color: var(--color-secondary);
    }

    .bg-primary {
        background-color: var(--color-primary);
    }

    .bg-secondary {
        background-color: var(--color-secondary);
    }
}